body {
    background-image: url("https://assets.website-files.com/5661de094faab4b202ad12f2/5852de4b99affdc361f41834_bg%20anim%2036.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
