body {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

#column {
    border-width: thick;
    border-color: black;
    border-radius: 30px;
    background-color: white;
}

#image {
    transition: 2s;
}
